.about-us {
  @include container;
}

.about-us__title {
  @include font-title;
  margin-top: 28px;
}

.about-us__list {
  @include reset-list;
}

.about-us__item {
  @include font-info(17px, 700, 20px);
  padding-top: 63px;
  padding-bottom: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 55px;
    height: 40px;
    background-position: left;
    background-repeat: no-repeat;
  }

  &--flower {
    padding-top: 66px;

    &::before {
      background-image: url("../img/icon-feature-flower.svg");
      top: 10px;
      left: 8px;
    }
  }

  &--money {
    &::before {
      background-image: url("../img/icon-feature-money.svg");
      top: 3px;
    }
  }

  &--like {
    &::before {
      background-image: url("../img/icon-feature-heart.svg");
      top: 7px;
      left: 8px;
    }
  }

  &--clew {
    &::before {
      background-image: url("../img/icon-feature-ball.svg");
      top: 8px;
      left: 4px;
    }
  }

  &--rocket {
    &::before {
      background-image: url("../img/icon-feature-rocket.svg");
      top: 4px;
      left: -4px;
    }
  }

  &--box {
    &::before {
      background-image: url("../img/icon-feature-gift.svg");
      top: 7px;
      left: 5px;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-top: 50px;
  }

  .about-us__item {
    @include font-info(20px, 700, 22px);
    padding-bottom: 50px;

    &--like {
      padding-top: 60px;
    }

    &--flower {
      padding-top: 63px;
    }
  }

  .about-us__wrapper {
    display: flex;
  }

  .about-us__list {
    &:first-child {
      margin-right: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin: 0 auto;
    width: 700px;
  }

  .about-us__list {
    width: 300px;

    &:first-child {
      margin-right: 50px;
    }
  }

  .about-us__title {
    margin-top: 62px;
    margin-bottom: 40px;
  }
}
