.banner {
  background-color: $bg-greycolor;
  width: 322px;
}

.banner--index {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 373px;
}

.banner__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  padding: 75px 40px;
  text-align: center;
}
