.banner {
  background-color: $bg-grey;
  border-top: 1px solid $bordergrey;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -25px;
    background-size: 585px auto;
    background-color: $bg-light-grey;
    min-height: 373px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }

    .banner__title {
      padding-top: 70px;
    }
  }
}

.banner__title {
  @include font-info(27px, 700, 30px);
  padding: 70px 30px;
  padding-bottom: 75px;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .banner {
    border-top: none;
    position: relative;

    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-size: 1150px auto;
      background-position: center -70px;
      min-height: 686px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }

      .banner__title {
        padding-top: 85px;
        padding-left: 100px;
        padding-right: 100px;
      }
    }

    &--form {
      .banner__title {
        padding-top: 25px;
        padding-bottom: 88px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      bottom: -5px;
      left: 0;
      width: 100vw;
      margin-left: calc(50% - 50vw);
      height: 25px;
      z-index: 1;
    }
  }

  .banner__title {
    @include font-title;
    padding-top: 30px;
    padding-bottom: 83px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    &::after {
      background-image: url("../img/bg-zigzag-fill.svg");
      left: 0;
      height: 36px;
      bottom: -9px;
      background-size: 1150px;
      background-position: -2px;
    }

    &--index {
      background-image: url("../img/hero-desktop@1x.jpg");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }

      &::after {
        background-size: 1250px;
        background-position: 12px;
        bottom: -7px;
      }
    }

    &--form {
      .banner__title {
        padding-bottom: 110px;
      }
    }
  }

  .banner__title {
    padding-top: 25px;
    padding-bottom: 112px;
  }
}
