.banner {
  background-color: $bg-grey;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 300px;
  }
}

.banner__title {
  @include font-info(27px, 700, 30px);
  padding: 55px 40px;
  text-align: center;
  margin: 0;
}
