.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  border: 2px solid $grey;
  color: $grey;
  background-color: $white;
}

.button--ghost {
  cursor: pointer;

  @include transition;

  &:hover {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: $downwhite;
    background-color: $grey;
  }
}
