.catalog-item {
  border: 1px solid $bordergrey;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 6px 10px 0 $downblack;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $downblack;
  }
}

.catalog-item__text {
  @include font-info(17px, 700, 24px);
  color: $black;

  &:hover {
    color: $hoverblack;
  }

  &:active {
    color: $downblack;
  }
}

.catalog-item__desc {
  @include font-info(13px, 400, 30px);
  color: $grey;
  padding-bottom: 15px;
  border-bottom: 1px solid $bordergrey;
}

.catalog-item__price {
  @include font-info(15px, 700, 24px);
  margin-bottom: 0;
}

.catalog-item__wrapper {
  padding: 25px;
}
