.catalog-list {
  @include reset-list;
  @include container;
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
  }
}
