.contacts__content {
  @include container;
  margin-bottom: 20px;
}

.contacts {
  margin-top: 30px;
}

.contacts__title {
  @include font-info(18px, 700, 30px);
}

.contacts__list {
  @include reset-list;
  @include font-info(15px, 400, 30px);
  color: $grey;
  display: flex;
  flex-wrap: wrap;
}

.contacts__link {
  color: $grey;
  border-bottom: 1px solid $aquablue;
  padding-bottom: 5px;

  &:hover {
    color: $hoverdarkblue;
  }

  &:active {
    color: $downblue;
  }
}

.contacts__item {
  padding-bottom: 20px;

  &--value {
    width: 180px;
    margin-left: 30px;
  }
}

.contacts__feedback {
  @include font-info(17px, 700, 20px);
  padding: 10px 55px;
}

.contacts__feedback-wrap {
  margin: 50px 0;
  text-align: center;
}

.contacts__map {
  width: 100%;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts__item {
    &:nth-child(3) {
      margin-left: 40px;
    }

    &--value {
      width: 219px;
    }
  }

  .contacts__list {
    @include font-info(17px, 400, 30px);
  }

  .contacts__title {
    @include font-info(43px, 700, 50px);
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
    }
  }

  .contacts__feedback {
    padding: 15px 40px;
  }

  .contacts__content {
    padding-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include container;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 150px;
    position: relative;
  }

  .contacts__content {
    width: 510px;
    order: 1;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 50px;
  }

  .contacts__item {
    &:nth-child(3) {
      margin-left: 0;
    }
  }

  .contacts__list {
    flex-direction: row;
    margin-left: 180px;
  }

  .contacts__feedback-wrap {
    order: 2;
    text-align: left;
    margin-top: 0;
  }

  .contacts__map {
    order: 3;
    width: 525px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 50px;
  }

  .contacts__title {
    @include font-info(57px, 700, 53px);
    padding-left: 180px;

    &::after {
      left: 40px;
    }
  }

  .contacts__feedback {
    margin-left: 180px;
  }
}
