.copyright {
  @include transition;
  margin: 0 30px;
  border-top: 1px solid $bordergrey;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}

.copyright__link {
  &:hover .copyright__icon {
    fill: $hoverdarkblue;
  }

  &:active .copyright__icon {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font-info(19px, 700, 18px);
  margin-right: 25px;
  color: $black;
  vertical-align: top;

  &:active {
    color: $downblack;
  }
}

.copyright__icon {
  position: relative;
  bottom: 5px;
  fill: $aquablue;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 25px;
    vertical-align: super;
  }

  .copyright {
    padding: 0;
    border-top: none;
    margin-right: 0;
    margin-left: 0;
  }

  .copyright__icon {
    position: relative;
    top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin: 0;
  }
}
