.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  @include font-info(19px, 700, 18px);
  margin-right: 30px;

  &:active {
    color: $downblack;
  }
}

.copyright__icon {
  fill: $aquablue;
}

.copyright__link {
  &:hover .copyright__icon {
    fill: $hoverdarkblue;
  }

  &:active .copyright__icon {
    opacity: 0.3;
  }
}
