.main-nav__link {
  @include font-info (17px, 700, 24px);
  @include transition;
  display: inline-block;
  vertical-align: middle;
  color: $black;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 45px;

  &:hover {
    color: $hoverblack;
  }

  &:active {
    color: $downblack;
  }

  &:hover .main-nav__cart-icon,
  &:hover .main-nav__search-icon {
    fill: $aquablue;
  }

  &:active .main-nav__search-icon,
  &:active .main-nav__cart-icon {
    fill: $aquablue;
    opacity: 0.3;
  }

  &--search,
  &--cart {
    padding-left: 0;
  }

  &--cart {
    padding-top: 25px;
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  border-top: 1px solid $bordergrey;
  text-align: left;
  padding-left: 30px;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  align-self: center;
  padding: 20px 0;
}

.main-nav__text,
.main-nav__list--group-sale-arrival {
  display: none;
}

.main-nav__cart-icon,
.main-nav__search-icon {
  fill: $bordergrey;
  position: relative;
  top: 5px;
  left: 3px;
}

.main-nav__cart-icon {
  margin-right: 20px;
}

.main-nav__search-icon {
  margin-right: 23px;
}

.main-nav__toggle {
  position: absolute;
  top: 13px;
  right: 5px;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: $white;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--hide .main-nav__toggle {
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--hide .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__wrapper {
    @include container;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-nav__list--group-sale-arrival {
    display: none;
  }

  .main-nav__text {
    display: block;
    order: 3;
    margin-top: 5px;
    width: 231px;
  }

  .main-nav__item {
    border: none;
    padding: 0;
  }

  .main-nav__list--group-search-cart {
    order: 1;
    margin-left: auto;
  }

  .main-nav__list--group-search-cart .main-nav__item {
    border-left: 1px solid $bordergrey;
  }

  .main-nav__list--group-catalog-order {
    margin-right: auto;
    order: 2;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    order: 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__list--group-catalog-order .main-nav__link {
    @include font-info (15px, 700, 24px);
    padding-top: 16px;
    width: 166px;

    &--order {
      padding-left: 0;
    }
  }

  .main-nav__search-text {
    display: none;
  }

  .main-nav__link--cart {
    padding-left: 27px;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 238px;
  }

  .main-nav__link--search {
    padding: 30px 35px;
    padding-left: 30px;
    left: 5px;
    top: 3px;
  }


  .main-nav__search-icon {
    margin: 0;
  }

  .main-nav__cart-icon {
    margin-right: 30px;
    position: relative;
    top: 5px;
    left: 3px;
  }

  .main-nav__link--catalog {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    justify-content: space-between;
  }

  .main-nav__list--group-sale-arrival {
    display: flex;
    order: 4;
  }

  .main-nav__list--group-sale-arrival .main-nav__link {
    @include font-info(15px, 700, 24px);
    padding-top: 17px;
    width: 180px;

    &--sale {
      padding-left: 40px;
    }
  }

  .main-nav__text {
    order: 5;
    margin-left: auto;
  }

  .main-nav__list--group-search-cart {
    order: 3;
    margin-left: auto;
    text-align: right;
    padding-left: 30px;
  }

  .main-nav__list--group-catalog-order {
    order: 1;
    text-align: left;
  }

  .main-nav__logo {
    order: 2;
    margin: 0;
    padding: 0;
  }

  .main-nav__list--group-catalog-order .main-nav__link {
    @include font-info(17px, 700, 24px);
    padding-top: 32px;
    padding-bottom: 33px;
    padding-right: 15px;

    &--order {
      padding-left: 35px;
      padding-right: 0;
    }

    &--catalog {
      border-right: 1px solid $bordergrey;
    }
  }

  .main-nav__link--arrival {
    padding-left: 0;
  }

  .main-nav__link--search {
    padding-left: 30px;
    left: 4px;
  }

  .main-nav__link--cart {
    padding-left: 29px;
    padding-top: 28px;
    padding-bottom: 33px;
  }
}
