.main-nav__link {
  @include font-info (17px, 700, 24px);
  display: inline-block;
  vertical-align: middle;
  color: $black;
  padding: 20px;

  &:hover {
    color: $hoverblack;
  }

  &:active {
    color: $downblack;
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  border-top: 1px solid $bordergrey;
  text-align: left;
  padding-left: 50px;
}
