.modal__content {
  width: 320px;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: $white;
  min-height: 336px;
  border: solid 1px $bordergrey;
  box-shadow: 0 5px 10px 0 $downblack;
  padding: 0 30px;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
  background-color: $whitetoning;
}

.modal--show {
  display: block;
  animation: blinker 1s;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.modal__title {
  @include font-info(25px, 700, 30px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.modal__text {
  @include font-info(15px, 400, 30px);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 23px;
}

.modal__list {
  display: flex;
  justify-content: flex-start;
}

.modal__item {
  position: relative;
  margin-right: 87px;
  margin-top: 0;
}

.modal__input {
  & + label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    border: 2px solid $hoverlightgrey;
    text-align: center;
    vertical-align: middle;
    padding: 17px 0;

    @include transition;
    @include font-info(17px, 700, 16px);
    color: $grey;
  }

  &--S-size {
    & + label::before {
      content: "S";
    }
  }

  &--M-size {
    & + label::before {
      content: "M";
    }
  }

  &--L-size {
    & + label::before {
      content: "L";
    }
  }

  &:hover,
  &:focus {
    & + label::before {
      border: 2px solid $lightgrey;
    }
  }

  &:active,
  &:checked {
    & + label::before {
      border: 2px solid $aquablue;
    }
  }
}

.modal__button {
  @include font-info(17px, 700, 16px);
  color: $white;
  background-color: $aquablue;
  border: none;
  cursor: pointer;
  padding: 17px 30px;
  margin-top: 70px;
  text-align: center;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .modal__content {
    width: 566px;
    padding: 40px 105px;
    padding-top: 10px;
  }

  .modal__input {
    & + label::before {
      left: 2px;
      width: 110px;
      padding: 16px 0;
    }
  }

  .modal__item {
    margin-right: 118px;
  }

  .modal__title {
    @include font-info(30px, 700, 57px);
    margin-bottom: 0;
  }

  .modal__text {
    @include font-info(17px, 400, 30px);
    margin-top: 12px;
  }
}
