.order-form__item {
  @include container;
  border: none;
  padding: 20px 0;

  &--user-contacts {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.order-form__title {
  @include font-info(17px, 700, 16px);
  color: $aquablue;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 70px;
    width: 190px;
    height: 1px;
    background-color: $aquablue;
  }

  &--email {
    &::after {
      left: 80px;
      width: 180px;
    }
  }
}

.order-form__list {
  @include reset-list;
}

.order-form__label {
  @include font-info(17px, 700, 18px);
}

.order-form__input::placeholder {
  @include font-info(17px, 400, 18px);
  color: $lightgrey;
}

.order-form__input {
  border: none;
  padding: 20px 0;
  width: 100%;
  box-shadow: inset 0 -2px 0 0 $black;

  &:hover {
    box-shadow: inset 0 -2px 0 0 $formhoverblue;
  }

  &:active {
    color: $grey;
  }

  &--textarea {
    border: solid 2px $grey;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    box-shadow: none;

    &:hover {
      border: solid 2px $formhoverblue;
    }

    &:active {
      color: $grey;
    }
  }
}

.order-form__input--radio {
  & + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $grey;
    cursor: pointer;
  }

  &:hover + label::before,
  &:focus + label::before {
    border: 2px solid $formhoverblue;
  }

  &:active + label::before {
    border: 2px solid $grey;
    opacity: 0.3;
  }
}

.order-form__input--radio:checked {
  & + label::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $aquablue;
  }
}

.order-form__input--checkbox {
  & + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    border: 2px solid $grey;
    cursor: pointer;
  }

  &:hover + label::before,
  &:focus + label::before {
    border: 2px solid $formhoverblue;
  }

  &:active + label::before {
    border: 2px solid $grey;
    opacity: 0.3;
  }
}

.order-form__input--checkbox:checked {
  & + label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.order-form__option {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  &--radio,
  &--checkbox {
    padding-left: 70px;
  }

  &--checkbox {
    padding-bottom: 30px;
  }
}

.order-form__icon {
  position: absolute;
  top: 40px;
  right: 10px;
  opacity: 0.2;
}

.order-form__option--user-contacts {
  &:hover .order-form__icon {
    fill: $formhoverblue;
    opacity: 1;
  }
}

.order-form__legend {
  @include font-info(14px, 400, 16px);
  color: $grey;
}

.order-form__button {
  @include font-info(17px, 700, 20px);
  padding: 10px 45px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .order-form__title {
    position: relative;
    left: 0;

    &--type,
    &--tel,
    &--email {
      top: 35px;
    }

    &--color {
      top: 80px;
    }

    &--user-info {
      top: 50px;
    }

    &--letter {
      top: 40px;
    }

    &::after {
      content: none;
    }
  }

  .order-form__item {
    &--user-contacts,
    &--color {
      padding: 30px 0;
    }

    &--type,
    &--user-info {
      padding-bottom: 50px;
    }
  }

  .order-form__list {
    &--type,
    &--user-info {
      margin-left: 170px;
    }

    &--color {
      display: flex;
      flex-wrap: wrap;
      margin-left: 170px;
      justify-content: space-between;
    }
  }

  .order-form__wrapper {
    background-color: $bg-grey;
  }

  .order-form__input {
    &--tel,
    &--email {
      margin-left: 170px;
      background-color: $bg-grey;
      width: 500px;
    }

    &--textarea {
      margin-left: 170px;
      width: 500px;
    }

    &--name {
      width: 420px;
    }

    &--surname,
    &--patronym {
      width: 375px;
    }
  }

  .order-form__label {
    margin-right: 30px;
  }

  .order-form__legend-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-form__button {
    order: -1;
  }

  .order-form__option {
    &--radio {
      margin-bottom: 30px;
    }

    &--checkbox:nth-child(2) {
      padding-right: 43px;
    }

    &--checkbox:nth-child(4) {
      padding-right: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__item {
    width: 1000px;
    margin: 0 auto;
  }

  .order-form__title {
    left: 50px;

    &--tel,
    &--email {
      top: 0;
    }

    &--letter {
      top: -100px;
    }
  }

  .order-form__list {
    &--color {
      width: 800px;
    }
  }

  .order-form__option {
    &--checkbox {
      padding-right: 70px;
    }

    &--checkbox:nth-child(5) {
      padding-right: 0;
    }
  }

  .order-form__input {
    &--textarea,
    &--tel {
      margin-left: 130px;
      width: 700px;
    }

    &--email {
      margin-left: 105px;
      width: 705px;
    }

    &--name {
      width: 600px;
    }

    &--surname,
    &--patronym {
      width: 560px;
    }
  }

  .order-form__legend-wrap {
    width: 700px;
    margin: 0 auto;
  }

  .order-form__list--user-contacts .order-form__option {
    &--tel,
    &--email {
      &::after {
        right: 160px;
        top: 30px;
      }
    }
  }

  .order-form__icon {
    position: absolute;
    top: 30px;
    right: 160px;
  }
}
