.page-footer {
  background-color: $bg-grey;
  margin-top: 35px;
}

.page-footer__logo {
  display: none;

  @include transition;

  &:hover .page-footer__icon {
    fill: $hoverdarkblue;
  }

  &:active .page-footer__icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer {
    padding-top: 50px;
    min-height: 100px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 50px;
  }
}
