.page-header {
  display: block;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, $white 56%, $bordergrey 56%, $bg-grey 57%);

    &--index {
      background: linear-gradient(180deg, $white 56%, $bordergrey 56%, $bg-light-grey 57%);
    }
  }
}
