.player {
  width: 262px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid $bordergrey;
  position: relative;

  &:hover {
    box-shadow: 0 6px 10px 0 $downblack;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $downblack;
  }

  &::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 33%;
    background-image: url("../img/icon-play.svg");
    width: 101px;
    height: 77px;
  }
}

.player__title {
  @include font-info(17px, 700, 24px);
  padding-left: 90px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 30px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }
}

.player__text {
  @include font-info(13px, 400, 24px);
  color: $grey;
}

.player__order {
  @include font-info(17px, 700, 20px);
  padding: 15px 25px;
}

.player__desc {
  padding: 25px 30px;
}

@media (min-width: $tablet-width) {
  .player {
    width: 672px;
    display: flex;
    flex-direction: column;
  }

  .player__image {
    order: 1;
  }

  .player__order {
    width: 100%;
    box-sizing: border-box;
  }

  .player__desc {
    width: 590px;
    margin: 0 auto;
    padding-top: 0;
    order: 3;
  }

  .player__title {
    @include font-info(20px, 700, 24px);
    order: 2;
    padding-left: 100px;
    margin-top: 40px;

    &::before {
      left: 40px;
      top: -5px;
    }
  }

  .player__text {
    @include font-info(15px, 400, 30px);
  }
}

@media (min-width: $desktop-width) {
  .player {
    width: 1050px;
    flex-wrap: wrap;
    position: relative;
    height: 455px;

    &::after {
      left: 33%;
      top: 50%;
    }
  }

  .player__desc {
    width: 230px;
    order: 2;
    margin-left: auto;
  }

  .player__title {
    order: 1;
    margin-top: 30px;
    margin-left: 50px;
    padding: 0;
    padding-top: 50px;
    width: 150px;

    &::before {
      left: 0;
      top: 0;
    }
  }

  .player__text {
    margin-bottom: 50px;
  }
}
