.player {
  @include container;
}

.player__content {
  min-width: 262px;
  border: 1px solid $bordergrey;
  margin-bottom: 60px;

  &:hover {
    box-shadow: 0 6px 10px 0 $downblack;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $downblack;
  }
}

.player__image-wrap {
  position: relative;
}

.player__button {
  @include transition;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  border: none;
  width: 101px;
  height: 77px;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.player__title {
  @include font-info(17px, 700, 24px);
  padding-left: 50px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 200px;
  margin-left: 10%;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
  }
}

.player__text {
  @include font-info(13px, 400, 24px);
  color: $grey;
  margin-bottom: 25px;
}

.player__order {
  @include font-info(17px, 700, 20px);
  padding: 14px 0;
  width: 100%;
}

.player__desc {
  padding: 12px 10%;
  padding-bottom: 32px;
}

.player__image {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .player__content {
    min-width: 672px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
  }

  .player__image {
    order: 1;
  }

  .player__desc {
    margin: 0 auto;
    padding-top: 0;
    order: 3;
    padding-bottom: 45px;
  }

  .player__title {
    @include font-info(20px, 700, 24px);
    order: 2;
    margin-top: 40px;
    max-width: 100%;

    &::before {
      top: -5px;
    }
  }

  .player__text {
    @include font-info(15px, 400, 30px);
    margin-top: 5px;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .player__content {
    width: 1050px;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 105px;
  }

  .player__desc {
    width: 230px;
    order: 1;
    margin: 0;
    padding-bottom: 58px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 60px;
  }

  .player__title {
    order: 2;
    padding: 0;
    padding-top: 55px;
    width: 150px;
    margin-top: 43px;
    margin-bottom: 27px;
    margin-right: 140px;

    &::before {
      left: 0;
      top: 0;
    }
  }

  .player__image-wrap {
    order: 3;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 682px;
  }

  .player__text {
    margin-bottom: 47px;
  }
}
