.product-list {
  @include reset-list;
}

.product-list__link {
  @include font-info(19px, 700, 24px);
  padding: 30px;
  color: $white;
  display: block;

  &:active {
    color: $downwhite;
  }
}

.product-list__item {
  &--toys {
    background-color: $darkblue;

    &:hover,
    &:active {
      background-color: $hoverdarkblue;
    }
  }

  &--furniture {
    background-color: $aquablue;

    &:hover,
    &:active {
      background-color: $hoveraquablue;
    }
  }
}
