.product-of-week {
  @include container;
  padding-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
  }
}

.product-of-week__title {
  @include font-title;
  margin-top: 28px;
  margin-bottom: 5px;
}

.product-of-week__caption {
  @include font-info(17px, 700, 20px);
  color: $aquablue;
  text-transform: uppercase;
}

.product-of-week__text,
.product-of-week__item {
  @include font-info(15px, 400, 24px);
  color: $grey;
}

.product-of-week__text {
  margin-top: 23px;
}

.product-of-week__list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;
  margin-top: 16px;
}

.product-of-week__item {
  border-bottom: 1px solid $bordergrey;
  padding: 8px;
  padding-left: 0;

  &:nth-child(odd) {
    padding-right: 20px;
  }
}

.product-of-week__price {
  @include font-info(17px, 700, 24px);
  color: $grey;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-of-week__order {
  @include font-info(17px, 700, 20px);
  padding: 14px 0;
  width: 100%;
  margin-top: 16px;
  box-sizing: border-box;

  &:hover {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: $downwhite;
  }
}

@media (min-width: $tablet-width) {
  .product-of-week {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

    &::after {
      background-size: 768px;
      height: 15px;
    }
  }

  .product-of-week__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .product-of-week__wrap-info,
  .product-of-week__wrap-order {
    width: 290px;
  }

  .product-of-week__img {
    position: absolute;
    top: 153px;
    right: 50px;
  }

  .product-of-week__wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;
    margin-bottom: 49px;
  }

  .product-of-week__caption {
    @include font-info(17px, 700, 17px);
    text-align: center;
    width: 70px;
    padding-right: 30px;
    padding-top: 5px;
  }

  .product-of-week__title {
    margin: 0;
  }

  .product-of-week__list {
    margin: 38px 0;
    margin-bottom: 42px;
  }

  .product-of-week__text {
    @include font-info(17px, 400, 30px);
    margin-top: 0;
  }

  .product-of-week__item {
    @include font-info(15px, 400, 20px);
    padding-bottom: 10px;
    padding-right: 0;

    &:nth-child(odd) {
      padding-right: 0;
    }
  }

  .product-of-week__price {
    @include font-info(20px, 700, 24px);
    margin-bottom: 18px;
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .product-of-week__wrapper-title {
    z-index: 2;
    padding-top: 76px;
    justify-content: start;
    margin-bottom: 50px;
  }

  .product-of-week__wrapper {
    padding-left: 175px;
  }

  .product-of-week__title {
    margin: 0;
  }

  .product-of-week__img {
    right: 0;
    top: 70px;
  }

  .product-of-week__price {
    margin: 35px 0;
    margin-bottom: 18px;
  }

  .product-of-week__caption {
    order: -1;
    margin: 0 47px;
    margin-right: 25px;
    padding-top: 8px;
  }

  .product-of-week__list {
    margin: 50px 0;
    margin-bottom: 75px;
  }

  .product-of-week {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    padding-bottom: 90px;

    &::after {
      background-size: 1150px;
      height: 23px;
    }
  }
}
