.product-of-week {
  @include container;
}

.product-of-week__title {
  @include font-info(25px, 700, 30px);
  margin-bottom: 0;
}

.product-of-week__caption {
  @include font-info(17px, 700, 20px);
  color: $aquablue;
  text-transform: uppercase;
}

.product-of-week__text,
.product-of-week__item {
  @include font-info(15px, 400, 24px);
  color: $grey;
}

.product-of-week__list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.product-of-week__item {
  border-bottom: 1px solid $bordergrey;
  padding: 5px;
}

.product-of-week__price {
  @include font-info(17px, 700, 24px);
  color: $grey;
  text-align: center;
}

.product-of-week__order {
  @include font-info(17px, 700, 20px);
  padding: 10px 80px;

  &:hover {
    color: $white;
    background-color: $grey;
  }

  &:active {
    color: $downwhite;
  }
}
