.reviews {
  @include container;
  position: relative;
  padding-bottom: 52px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 7px;
    margin-left: calc(50% - 50vw);
    background-position: -7px 0;
  }
}

.reviews__item {
  margin: 30px 0;
  margin-bottom: 40px;
  margin-top: 24px;
}

.reviews__title {
  @include font-title;
  margin-top: 35px;
}

.reviews__text {
  @include font-info(15px, 400, 30px);
  color: $grey;
}

.reviews__author-name {
  @include font-info(17px, 700, 24px);
  margin-top: 27px;
  margin-bottom: 0;
}

.reviews__author-nickname {
  @include font-info(17px, 400, 30px);
  color: $grey;
  margin-top: 3px;
}

.reviews__wrap-buttons {
  font-size: 0;
}

.reviews__button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  border: 1px solid $bg-grey;
  padding: 0;
  margin-left: 0;
  cursor: pointer;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__write-button {
  @include font-info(18px, 700, 20px);
  padding: 13px 80px;
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .reviews__text {
    @include font-info(17px, 400, 30px);
    margin-bottom: 58px;
  }

  .reviews {
    display: flex;
    background-image: url("../img/review@1x.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 350px auto;
    margin-top: 30px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      background-size: 770px;
      height: 16px;
      bottom: -80px;
      background-position: -20px 0;
    }
  }

  .reviews__wrap-buttons {
    position: relative;
    width: 177px;
    margin-left: -160px;
  }

  .reviews__wrap-text {
    width: 100%;
  }

  .reviews__write-button {
    @include font-info(17px, 700, 20px);
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 80px;
  }

  .reviews__button {
    position: absolute;
    width: 50px;
    border: none;
    bottom: 53px;

    @include transition;

    &--prev {
      left: 17px;
    }

    &--next {
      right: 17px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .reviews__title {
    margin-top: 0;
    padding-top: 77px;
    margin-bottom: 50px;
  }

  .reviews__author-name {
    @include font-info(18px, 700, 24px);
  }

  .reviews__item {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    box-sizing: border-box;
    padding: 0;
    margin-top: 35px;

    &::after {
      background-size: 1050px;
      height: 23px;
      bottom: -90px;
      margin: 0;
      width: 100%;
      background-position: 25px;
    }
  }

  .reviews__wrap-text {
    padding-left: 170px;
  }

  .reviews__title {
    padding-top: 68px;
  }

  .reviews__item {
    padding-left: 4px;
    padding-bottom: 77px;
  }

  .reviews__text {
    margin-bottom: 38px;
    width: 770px;
  }

  .reviews__wrap-buttons {
    width: 210px;
  }

  .reviews__button {
    bottom: 95px;
  }
}
