.reviews {
  @include container;
  position: relative;
  padding-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line-mobile.svg");
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
  }
}

.reviews__item {
  margin: 30px 0;
  margin-bottom: 90px;
}

.reviews__title {
  @include font-title;
}

.reviews__text {
  @include font-info(15px, 400, 30px);
  color: $grey;
}

.reviews__author-name {
  @include font-info(17px, 700, 24px);
}

.reviews__author-nickname {
  @include font-info(17px, 400, 30px);
  color: $grey;
}

.reviews__button {
  box-sizing: border-box;
  position: absolute;
  width: 130px;
  height: 50px;
  border: 1px solid $bg-grey;
  bottom: 100px;
  cursor: pointer;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    left: 30px;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    right: 30px;
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__write-button {
  @include font-info(17px, 700, 20px);
  padding: 10px 80px;
}

@media (min-width: $tablet-width) {
  .reviews__text {
    @include font-info(17px, 400, 30px);
  }

  .reviews {
    display: flex;
    background-image: url("../img/review@1x.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      background-image: url("../img/bg-zigzag-line-tablet.svg");
      height: 15px;
      bottom: -60px;
    }
  }

  .reviews__wrap-buttons {
    position: relative;
    width: 175px;
    margin-left: -100px;
  }

  .reviews__wrap-text {
    width: 100%;
  }

  .reviews__write-button {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 40px;
  }

  .reviews__button {
    width: 50px;
    border: none;

    &--prev {
      left: 5px;
    }

    &--next {
      right: 5px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    box-sizing: border-box;
    padding: 0;

    &::after {
      background-image: url("../img/bg-zigzag-line.svg");
      height: 23px;
      bottom: -80px;
    }
  }

  .reviews__wrap-text {
    padding-left: 200px;
  }
}
