.social-list {
  @include reset-list;
  display: flex;
  justify-content: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social-list__item {
  margin-right: 30px;
}

.social-list__icon {
  fill: $darkgrey;
}

.social-list__link {
  &:hover .social-list__icon {
    fill: $hoverdarkblue;
  }

  &:active .social-list__icon {
    opacity: 0.3;
  }
}
