.social-list {
  @include reset-list;
  display: flex;
  justify-content: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social-list__item {
  margin-right: 30px;
}
