.social-list {
  @include reset-list;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 120px;
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
    margin-top: 10px;
  }
}

.social-list__item {
  margin-right: 40px;
}

.social-list__icon {
  fill: $darkgrey;

  &--facebook {
    position: relative;
    bottom: 5px;
  }
}

.social-list__link {
  @include transition;

  &:hover .social-list__icon {
    fill: $hoverdarkblue;
  }

  &:active .social-list__icon {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 50px;
  }
}
