@mixin font-info ($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin container {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 672px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

@mixin font-title-tablet {
  font-size: 43px;
  font-weight: 700;
  line-height: 50px;
}

@mixin font-title-desktop {
  font-size: 53px;
  font-weight: 700;
  line-height: 57px;
}
