$font: "Open Sans";
$black: #000000;
$white: #ffffff;
$bg-grey: #f1f1f1;
$bg-light-grey: #f9f9f9;
$aquablue: #63d1bb;
$grey: #444444;
$darkblue: #56c3b2;
$bordergrey: #ececec;
$lightgrey: rgba(68, 68, 68, 0.3);
$hoverblack: rgba(0, 0, 0, 0.6);
$downblack: rgba(0, 0, 0, 0.3);
$downwhite:  rgba(255, 255, 255, 0.3);
$hoverdarkblue: #46c1ae;
$hoveraquablue:  #59d5bc;
$downblue: rgba(70, 193, 174, 0.3);
$formhoverblue: #62d1ba;
$darkgrey:#231f20;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$retina-dppx: 2dppx;
