$font: "Open Sans";
$primary-color: hsl(0, 100%, 0%);
$whitecolor: hsl(0, 0%, 100%);
$bg-greycolor: hsl(0, 0%, 95%);
$bluecolor: hsl(168, 54%, 60%);
$greycolor: hsl(0, 0%, 27%);
$darkbluecolor: hsl(171, 48%, 55%);
$bordergreycolor: hsl(0, 0%, 93%);
